html {
	font-size: 62.5%;
}

body {
	font-family: "Pepi/Rudi Regular", sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1.8;
	font-size: 1.6rem;
	background-color: $color--light;
	overflow: hidden;
	transition: background-color 0.4s 0s ease-in-out;

	&.is-blue {
		background-color: $color--blue;
	}
}
