.c-case-study {
	padding-top: 330px;
	@media (min-width: 300px) and (max-width: $viewport--m) { 
		padding-top: 280px;
	}

	&__img {
		img {
			width: 100%;
		}

		&--met01 {
			position: absolute;
			bottom: 0;
			left: -10%;
			width: 60%;
			z-index: -1;
			@media (min-width: 300px) and (max-width: $viewport--m) { 
				position: static;
				width: 100%;
			}

			@media (min-width: $viewport--m) and (max-width: $viewport--l) { 
				position: static;
				width: 100%; 
			}
		}
	}
	&__header {
		width: 75%;
		padding-left: 0px;
		margin-bottom: 20px;
		h2 {
			margin-bottom: 40px;
		}

		@media (min-width: 300px) and (max-width: $viewport--m) { 
			width: 100%;
			padding-left: 0;

			h2 {
				margin-bottom: 20px;
				font-size: 5rem;
    			line-height: 6rem;
			}
		}

		@media (min-width: $viewport--l) and (max-width: $viewport--xl) { 
        	padding-left: 30px;
        }
	}

	&__title {
		font-size: 5.4rem;
		color: $color--grey-darker;
		line-height: 1.25;
		margin-bottom: 60px;
		margin-top: -70px;

		@media (min-width: 300px) and (max-width: $viewport--m) { 
			margin-bottom: 30px;
			margin-top: 0;
			font-size: 3rem;
		}
	}

	&__subtitle {
		font-size: 2.5rem;
		color: $color--grey-darker;
		line-height: 1.4;
		margin-bottom: 15px;
		font-family: "Pepi/Rudi Medium";
	}

	&__title-number {
		display: block;
		color: $color--blue;
	}
	&__section {
		.wrap {
			position: relative;
			padding: 140px 90px 100px;

			@media (min-width: 300px) and (max-width: $viewport--m) { 
				padding: 40px 20px;
			}

			@media (min-width: $viewport--xxl) { 
				padding: 140px 60px 100px;
			}
		}
	}
	&__content {
		&--separator {
			.wrap {
				border-top: 1px solid #E0E2E9;
			}
		}
	}

	&__images {
		background: white;
		padding: 90px 0;

		.img {
			max-width: 1400px;
		    width: 100%;
		    margin: auto;
		    display: block;
		    img {
		    	width: 100%;
		    }

		    .small-title {
		    	font-size: 1rem;
		    }
		}
	}
}