.c-contact {
	height: 100%;
	display: flex;

	p {
		@media (min-width: 300px) and (max-width: $viewport--m) { 
			margin-bottom: 15px;
        }
	}

	&__flex-end {
		width: 100%;
		align-self: flex-end;
		@media screen and (min-width: $viewport--m) { 
			width: 80%;
		}
	}

	&__mail {
		text-decoration: none;
		@media (min-width: 300px) and (max-width: $viewport--m) { 
			font-size: 3rem;
			line-height: 3.8rem;
        }
	}

	&__mail-title {
	}

	&__mail-block {
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 30px;

		@media (min-width: 300px) and (max-width: $viewport--m) { 
			padding-bottom: 15px;
			margin-bottom: 20px;
        }

		&:after {
			content: '';
			position: absolute;
			display: block;
			height: 1px;
			bottom: 0;
			width: 100%;
			background-color: transparentize(white, 0.8);
		}
		.c-contact__mail {
			&-icon {
				display: inline-block;
				position: relative;
				margin-left: 30px;
				vertical-align: middle;

				@media (min-width: 300px) and (max-width: $viewport--m) { 
					margin-left: 15px;

					&:before {
						width: 50px;
					}
		        }

				&:before { 
					content: '';
					display: block;
					width: 60px;
					height: 1.4px;
					background: $color--blue-lighter;
					transition: width 0.3s ease-in-out;
				}

				&:after {
					content: '';
					position: absolute;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 5px solid $color--blue-lighter;
					top: -4.1px;
					left: 100%;
				}
			}

			&:hover {
				.c-contact__mail-icon {
					&:before {
						width: 100px;
					}
				}
			}
		}
	}

	&__list {
		margin-bottom: 15px;
	}

	&__list-item {
		font-size: 2.6rem;
		line-height: 3.8rem;
		color: transparentize(white, 0.1);
		display: block;

		@media (min-width: 300px) and (max-width: $viewport--m) { 
			font-size: 1.6rem;
			line-height: 1.8em;
        }
		
		a {
			text-decoration: none;
			color: inherit;
			position: relative;

			&:after {
				content: '↗';
				font-family: "Pepi/Rudi Regular";
				font-size: 1.5rem;
				position: absolute;
				right: -10px;
				top: -5px;
				line-height: 1;
				transition: transform 0.2s ease-in-out;
			}

			&:hover {
				&:after {
					transform: translate(2px, -2px);
				}
			}
		}
	}
}
