.c-contact {
	height: 100%;
	display: flex;

	&__flex-end {
		width: 80%;
		align-self: flex-end;
	}

	&__mail {
		text-decoration: none;
	}

	&__mail-title {
	}

	&__mail-block {
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 30px;

		&:after {
			content: '';
			position: absolute;
			display: block;
			height: 1px;
			bottom: 0;
			width: 100%;
			background-color: transparentize(white, 0.8);
		}
		.c-contact__mail {
			&-icon {
				display: inline-block;
				position: relative;
				margin-left: 30px;
				vertical-align: middle;
				&:before { 
					content: '';
					display: block;
					width: 60px;
					height: 1.4px;
					background: $color--blue-lighter;
					transition: width 0.3s ease-in-out;
				}

				&:after {
					content: '';
					position: absolute;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 5px solid $color--blue-lighter;
					top: -4.1px;
					left: 100%;
				}
			}

			&:hover {
				.c-contact__mail-icon {
					&:before {
						width: 100px;
					}
				}
			}
		}
	}

	&__list {
		margin-bottom: 15px;
	}

	&__list-item {
		font-size: 2.6rem;
		line-height: 3.8rem;
		color: transparentize(white, 0.1);
		display: block;
		
		a {
			text-decoration: none;
			color: inherit;
		}
	}
}
