.c-project-gallery {
    margin-right: 30px;
    margin-bottom: 20px;
    @media (min-width: 300px) and (max-width: $viewport--m) { 
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
	&__item {
		width: 200px;
		//height: 320px;
		//background: red;
		&:nth-child(odd) {
			//background: blue;
		}

        img {
            width: 100%;
        }
	}
}



.tns-outer {
	position: relative;
}

.tns-controls {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    button[data-controls="prev"] {
    	position: absolute;
    	left: 0;
    	top: 0;
    	bottom: 0;
    	width: 50%;
    	outline: 0;
    	background: transparent;
    	border: 0;
    	cursor: w-resize;
        @media (min-width: 300px) and (max-width: $viewport--m) { 
            width: 30px;
            height: 30px;
            top: 50%;
            margin-top: -15px;
            left: -30px;
            background: black;
        }
    }
    button[data-controls="next"] {
    	position: absolute;
    	right: 0;
    	top: 0;
    	bottom: 0;
    	width: 50%;
    	outline: 0;
    	background: transparent;
    	border: 0;
    	cursor: e-resize;
        @media (min-width: 300px) and (max-width: $viewport--m) { 
            width: 30px;
            height: 30px;
            top: 50%;
            margin-top: -15px;
            right: -30px;
            background: black;
        }
    }
}