body.is-home {
	.c-vertical-nav {
		display: block;
	}

	.c-scroll-down-text {
		display: none;
	}
}

.is-subpage {
	.c-vertical-nav {
		display: none;
	}
}

body.is-blue {
	.c-vertical-nav {
		.morphingShape {
			path {
				stroke: $color--blue-lighter !important;
			}
		}

		&__link:hover, &__link.is-active {
			.morphingShape {
				path {
					stroke: white !important;
				}
			}
		}
	}

	@media (min-width: 300px) and (max-width: $viewport--m) { 
		li  {
			a {
				color: white;
			}
		}
	}

}

.c-vertical-nav {
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;

	&__link:hover, &__link.is-active {
		.morphingShape {
			path {
				stroke: $color--blue !important;
			}
		}
	}

	li {
		display: block;
		width: 30px;
		height: 30px;
		position: relative;

		a {
			display: block;
			height: 100%;
			text-indent: -100000px;

			svg {
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				margin: auto;
				transform: translateY(-50%);
			}

			span {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 10;
			}
		}
	}

	@media (min-width: 300px) and (max-width: $viewport--m) { 
		position: fixed;
		top: inherit;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 0 20px;
		li  {
			float: left;
			width: 33.33%;
			
			&:first-child {
				a {
					text-align: left;
				}
			}

			&:last-child {
				a {
					text-align: right;
				}
			}
			a {
				text-indent: 0;
				text-align: center;
				color: $color--blue;
				svg {
					display: none;
				}

				&.is-active {
					color: $color--grey;
				}
			}
		}
	}
}

.c-scroll-down-text {
	position: absolute;
	bottom: 30px;
	right: 60px;
	display: none;
}