header.l-header
	div.l-header__logo.js-logotyper-parent
		span.js-logotyper-changelogo(style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; ")
		h1.l-header__logo-text.js-logotyper(data-first-logo="gorazd—ratulovsky")
		span.l-header__logo-symbol
			include ../assets/logo-01.svg
	include lang-sk.pug

nav.c-vertical-nav
	ul 
		li 
			a(href="#" data-slide-id="1" data-change-logo="about—gorazd" data-content="about-me").js-slider-navItem.js-change-logo.c-vertical-nav__link about-me
				include ../assets/morp-01.svg
				span
		li 
			a(href="#" data-slide-id="2" data-change-logo="gorazd—projects" data-content="projects").js-slider-navItem.js-change-logo.c-vertical-nav__link projects
				include ../assets/morp-02.svg
				span
		li 
			a(href="#" data-slide-id="8" data-change-logo="say—hello—gorazd" data-content="contact-me").js-slider-navItem.js-change-logo.c-vertical-nav__link contact me
				include ../assets/morp-03.svg
				span

span.c-scroll-down-text.small-title scroll down