header.l-header
	div.l-header__logo.js-logotyper-parent
		span.js-logotyper-changelogo(style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; ")
		h1.js-logotyper(data-first-logo="gorazd—ratulovsky")
	ul.l-header__lang
		li 
			a(href="#").l-header__lang-item sk
		li 
			a(href="#").l-header__lang-item.is-active en
nav.c-vertical-nav
	ul 
		li 
			a(href="#" data-slide-id="1" data-change-logo="about—gorazd").js-slider-navItem.js-change-logo a
		li 
			a(href="#" data-slide-id="2" data-change-logo="gorazd—projects").js-slider-navItem.js-change-logo b
		li 
			a(href="#" data-slide-id="3" data-change-logo="say—hello—gorazd").js-slider-navItem.js-change-logo c