section.l-section.l-section--about-me.js-slide(data-content="about-me")
	div.wrap.wrap--full
		div.row.row--full
			div.g-s-12.g-xl-8.flex-end
				p.perex.animation1 I’m a digital designer & front-end developer with passion for pure and functional design. Moreover, travel lover, nature and amateur photographer. Currently a student of <a href="http://digitalnidesign.cz" target="_blank">digital design studio</a> at the Tomas Bata University in Zlín, Czech Republic, and front-end developer in <a href="https://madeo.com" target="_blank">madeo</a> agency.

				div.animation2
					a(href="about-me.html").e-btn more about me
						span.e-btn__icon
							//-include ../assets/arrow-01.svg

				div.animation3
					a(href="http://gorazd.sk/cv2017.pdf").e-btn.e-btn--grey show cv
						span.e-btn__icon
							//-include ../assets/arrow-01.svg