section.l-section.l-section--home.js-slide.is-active.is-visible(data-content="home" data-bg="blue")
	div.wrap.wrap--full
		div.row.row--full
			div.g-xl-12.flex-end
				h1.big-title digital <span>d</span>esigner & front−end developer, scroll down and find out more about me