section.l-section.l-section--contact-me.js-slide(data-content="contact-me" data-bg="blue")
	div.wrap.wrap--full
		div.c-contact
			div.c-contact__flex-end
				div.row
					div.g-xl-8
						p.perex I’m digital designer & front-end developer with passion for clean and functional design. 
						p.perex I’m digital designer & front-end developer with passion for clean and functional design. 

				div.c-contact__mail-block
					h3.c-contact__mail-title.small-title SAY ME HELLO
					a(href="#").c-contact__mail.big-title hello@gorazd.design
					
				div.row
					div.g-xl-4
						h3.c-contact__mail-title.small-title OTHER WORK
						ul.c-contact__list
							li.c-contact__list-item
								a(href="#") Dribbble
							li.c-contact__list-item
								a(href="#") Behance

					div.g-xl-4
						h3.c-contact__mail-title.small-title SCHOOL PROJECTS
						ul.c-contact__list
							li.c-contact__list-item
								a(href="#") 23design.cz

						h3.c-contact__mail-title.small-title FRONT-END PROJECTS
						ul.c-contact__list
							li.c-contact__list-item
								a(href="#") Github

					div.g-xl-4
						h3.c-contact__mail-title.small-title MORE FROM MY LIFE
						ul.c-contact__list
							li.c-contact__list-item
								a(href="#") Instagram
							li.c-contact__list-item
								a(href="#") LinkedIn
