section.l-section.l-section--projects.js-slide(data-content="projects")
	div.wrap.wrap--full
		div.c-project.c-project--homepage
			h2.c-project__headline
			div.row.row--full
				div.g-xl-5.flex-end
					div.c-project-gallery
						ul.c-project-gallery__wrap
							li.c-project-gallery__item

				div.g-xl-5.flex-end
					p.perex I’m digital designer & front-end developer with passion for clean and functional design. 
					
					div.c-project-info
						div.row
							div.g-xl-12
								p.c-project-info__title RESPONSIBLE FOR
								p.c-project-info__text ui & ux website

						div.row
							div.g-xl-6
								p.c-project-info__title Client
								p.c-project-info__text school project

							div.g-xl-6
								p.c-project-info__title Year
								p.c-project-info__text 2017/2018

					
					a(href="#").e-btn case study
						span.e-btn__icon