section.l-section.l-section--about-me.js-slide(data-content="about-me")
	div.wrap.wrap--full
		div.row.row--full
			div.g-s-12.g-xl-8.flex-end
				p.perex.animation1 Digitálny designer a kóder, s vášňou pre čistý a funkčný design. Okrem toho milovník cestovania, prírody a príležitostný fotograf. Momentálne, študent  <a href="http://digitalnidesign.cz" target="_blank">digitálneho designu</a>  na Univerzite Tomáša Baťu v Zlíne a front-end developer v agentúre <a href="https://madeo.com" target="_blank">madeo</a>.

				div.animation2
					a(href="http://gorazd.design/o-mne").e-btn viac o mne
						span.e-btn__icon
							//-include ../assets/arrow-01.svg

				div.animation3
					a(href="http://gorazd.sk/cv2017.pdf").e-btn.e-btn--grey zobraziť cv
						span.e-btn__icon
							//-include ../assets/arrow-01.svg