section.l-section.l-section--about-me.js-slide(data-content="about-me")
	div.wrap.wrap--full
		div.row.row--full
			div.g-xl-8.flex-end
				p.perex.animation1 I’m digital designer & front-end developer with passion for clean and functional design. Moreover travel lover, nature and amateur photographer. Currently student of digital design studio  at the Tomas Bata University in Zlin, Czech republic, and front-end developer in madeo.

				div.animation2
					a(href="about-me.html").e-btn more about me
						span.e-btn__icon
							//-include ../assets/arrow-01.svg

				div.animation3
					a(href="#").e-btn.e-btn--grey show cv
						span.e-btn__icon
							//-include ../assets/arrow-01.svg