section.l-section.l-section--projects.js-slide(data-content="projects" data-project-id="01")
	div.c-project.c-project--homepage
		div.wrap.wrap--full
			div.row.row--full
				div.g-s-12.g-l-6.g-xl-6.flex-end.anm-project-sliding
					div.c-project-gallery
						div.js-project-gallery
							div.c-project-gallery__item
								img(src="./images/met1.png")
							div.c-project-gallery__item
								img(src="./images/met2.png")
							div.c-project-gallery__item
								img(src="./images/met3.png")
							div.c-project-gallery__item
								img(src="./images/met4.png")
							div.c-project-gallery__item
								img(src="./images/met5.png")
							div.c-project-gallery__item
								img(src="./images/met6.png")

				div.g-s-12.g-l-5.g-xl-5.flex-end.anm-project-fading
					h2.c-project__headline methodological <br>centre website
					//- p.animation2 I’m digital designer & front-end developer with passion for clean and functional design. 
					
					div.c-project-info
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title RESPONSIBLE FOR
								p.c-project-info__text ui & ux 
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Client
								p.c-project-info__text school project
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Year
								p.c-project-info__text 2017/2018

					
					a(href="methodical-center-website-en.html").e-btn case study
						span.e-btn__icon

section.l-section.l-section--projects.js-slide(data-content="projects" data-project-id="02")
	div.c-project.c-project--homepage
		div.wrap.wrap--full
			div.row.row--full
				div.g-s-12.g-l-6.g-xl-6.flex-end.anm-project-sliding
					div.c-project-gallery
						div.js-project-gallery
							div.c-project-gallery__item
								img(src="./images/yc1.png")
							div.c-project-gallery__item
								img(src="./images/yc2.png")
							div.c-project-gallery__item
								img(src="./images/yc3.png")
							div.c-project-gallery__item
								img(src="./images/yc4.png")
				div.g-s-12.g-l-5.g-xl-5.flex-end.anm-project-fading
					h2.c-project__headline mobile app <br>yellow catcher
					//- p.animation2 I’m digital designer & front-end developer with passion for clean and functional design. 
					
					div.c-project-info
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title RESPONSIBLE FOR
								p.c-project-info__text ui & ux, idea & project management
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Client
								p.c-project-info__text school project
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Year
								p.c-project-info__text 2017/2018


section.l-section.l-section--projects.js-slide(data-content="projects" data-project-id="03")
	div.c-project.c-project--homepage
		div.wrap.wrap--full
			div.row.row--full
				div.g-s-12.g-l-6.g-xl-6.flex-end.anm-project-sliding
					div.c-project-gallery
						div.js-project-gallery
							div.c-project-gallery__item
								img(src="./images/zet1.jpg")
							div.c-project-gallery__item
								img(src="./images/zet2.jpg")
							div.c-project-gallery__item
								img(src="./images/zet3.jpg")
							div.c-project-gallery__item
								img(src="./images/zet4.jpg")
							div.c-project-gallery__item
								img(src="./images/zet5.jpg")
							div.c-project-gallery__item
								img(src="./images/zet6.jpg")

				div.g-s-12.g-l-5.g-xl-5.flex-end.anm-project-fading
					h2.c-project__headline zet print <br>redesign
					//- p.animation2 I’m digital designer & front-end developer with passion for clean and functional design. 
					
					div.c-project-info
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title RESPONSIBLE FOR
								p.c-project-info__text ui & ux, brand identity
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Client
								p.c-project-info__text school project
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Year
								p.c-project-info__text 2017/2018


section.l-section.l-section--projects.js-slide(data-content="projects" data-project-id="04")
	div.c-project.c-project--homepage
		div.wrap.wrap--full
			div.row.row--full
				div.g-s-12.g-l-6.g-xl-6.flex-end.anm-project-sliding
					div.c-project-gallery
						div.js-project-gallery
							div.c-project-gallery__item
								img(src="./images/ivys.jpg")
							div.c-project-gallery__item
								img(src="./images/ivys.jpg")

				div.g-s-12.g-l-5.g-xl-5.flex-end.anm-project-fading
					h2.c-project__headline czech tv <br>—ivysielanie
					//- p.animation2 I’m digital designer & front-end developer with passion for clean and functional design. 
					
					div.c-project-info
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title RESPONSIBLE FOR
								p.c-project-info__text ui for android OS
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Client
								p.c-project-info__text school project
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Year
								p.c-project-info__text 2017/2018


section.l-section.l-section--projects.js-slide(data-content="projects" data-project-id="05")
	div.c-project.c-project--homepage
		div.wrap.wrap--full
			div.row.row--full
				div.g-s-12.g-l-6.g-xl-6.flex-end.anm-project-sliding
					div.c-project-gallery
						div.js-project-gallery
							div.c-project-gallery__item
								img(src="./images/vida1.png")
							div.c-project-gallery__item
								img(src="./images/vida5.png")
							div.c-project-gallery__item
								img(src="./images/vida2.png")
							div.c-project-gallery__item
								img(src="./images/vida3.png")
							div.c-project-gallery__item
								img(src="./images/vida4.png")

				div.g-s-12.g-l-5.g-xl-5.flex-end.anm-project-fading
					h2.c-project__headline museum vida <br>—powerhouse
					//- p.animation2 I’m digital designer & front-end developer with passion for clean and functional design. 
					
					div.c-project-info
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title RESPONSIBLE FOR
								p.c-project-info__text ui & ux of desktop app
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Client
								p.c-project-info__text school project
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Year
								p.c-project-info__text 2017/2018

section.l-section.l-section--projects.js-slide(data-content="projects" data-project-id="06")
	div.c-project.c-project--homepage
		div.wrap.wrap--full
			div.row.row--full
				div.g-s-12.g-l-6.g-xl-6.flex-end.anm-project-sliding
					div.c-project-gallery
						div.js-project-gallery
							div.c-project-gallery__item
								img(src="./images/q1.png")
							div.c-project-gallery__item
								img(src="./images/q2.png")
							div.c-project-gallery__item
								img(src="./images/q3.png")
							div.c-project-gallery__item
								img(src="./images/q4.png")

				div.g-s-12.g-l-5.g-xl-5.flex-end.anm-project-fading
					h2.c-project__headline quatro eshop
					//- p.animation2 I’m digital designer & front-end developer with passion for clean and functional design. 
					
					div.c-project-info
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title RESPONSIBLE FOR
								p.c-project-info__text ui & ux, front-end development
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Client
								p.c-project-info__text school project
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Year
								p.c-project-info__text 2017/2018

					
					a(href="https://quatrolm.sk/" target="_blank").e-btn visit website
						span.e-btn__icon

section.l-section.l-section--projects.js-slide(data-content="projects" data-project-id="07")
	div.c-project.c-project--homepage
		div.wrap.wrap--full
			div.row.row--full
				div.g-s-12.g-l-6.g-xl-6.flex-end.anm-project-sliding
					div.c-project-gallery
						div.js-project-gallery
							div.c-project-gallery__item
								img(src="./images/star1.jpg")
							div.c-project-gallery__item
								img(src="./images/star2.jpg")
							div.c-project-gallery__item
								img(src="./images/star3.jpg")
							div.c-project-gallery__item
								img(src="./images/star4.jpg")

				div.g-s-12.g-l-5.g-xl-5.flex-end.anm-project-fading
					h2.c-project__headline websites for <br>starmedia
					//- p.animation2 I’m digital designer & front-end developer with passion for clean and functional design. 
					
					div.c-project-info
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title RESPONSIBLE FOR
								p.c-project-info__text front-end development
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Client
								p.c-project-info__text school project
						div.row
							div.g-xl-12
								p.c-project-info__title.small-title Year
								p.c-project-info__text 2017/2018

					
					a(href="http://www.starmedia.sk/jobs/" target="_blank").e-btn visit website
						span.e-btn__icon

