section.l-section.l-section--projects.js-slide(data-content="projects")
	div.c-project.c-project--homepage
		div.wrap.wrap--full
			h2.c-project__headline
			div.row.row--full
				div.g-xl-5.flex-end.animation1
					div.c-project-gallery.js-project-gallery
						div.c-project-gallery__item
						div.c-project-gallery__item
						div.c-project-gallery__item

				div.g-xl-5.flex-end
					p.perex.animation2 I’m digital designer & front-end developer with passion for clean and functional design. 
					
					div.c-project-info.animation2
						div.row
							div.g-xl-12
								p.c-project-info__title RESPONSIBLE FOR
								p.c-project-info__text ui & ux website

						div.row
							div.g-xl-6
								p.c-project-info__title Client
								p.c-project-info__text school project

							div.g-xl-6
								p.c-project-info__title Year
								p.c-project-info__text 2017/2018

					
					a(href="#").e-btn.animation3 case study
						span.e-btn__icon

section.l-section.l-section--projects.js-slide(data-content="projects")
	div.c-project.c-project--homepage
		div.wrap.wrap--full
			h2.c-project__headline
			div.row.row--full
				div.g-xl-5.flex-end.animation1
					div.c-project-gallery.js-project-gallery
						div.c-project-gallery__item
						div.c-project-gallery__item
						div.c-project-gallery__item

				div.g-xl-5.flex-end
					p.perex.animation2 I’m digital designer & front-end developer with passion for clean and functional design. 
					
					div.c-project-info.animation2
						div.row
							div.g-xl-12
								p.c-project-info__title RESPONSIBLE FOR
								p.c-project-info__text ui & ux website

						div.row
							div.g-xl-6
								p.c-project-info__title Client
								p.c-project-info__text school project

							div.g-xl-6
								p.c-project-info__title Year
								p.c-project-info__text 2017/2018

					
					a(href="#").e-btn.animation3 case study
						span.e-btn__icon

	//- div.c-project.c-project--homepage
	//- 	div.wrap.wrap--full
	//- 		h2.c-project__headline
	//- 		div.row.row--full
	//- 			div.g-xl-5.flex-end
	//- 				div.c-project-gallery
	//- 					ul.c-project-gallery__wrap
	//- 						li.c-project-gallery__item

	//- 			div.g-xl-5.flex-end
	//- 				p.perex.animation1 I’m digital designer & front-end developer with passion for clean and functional design. 
					
	//- 				div.c-project-info.animation2
	//- 					div.row
	//- 						div.g-xl-12
	//- 							p.c-project-info__title RESPONSIBLE FOR
	//- 							p.c-project-info__text ui & ux website

	//- 					div.row
	//- 						div.g-xl-6
	//- 							p.c-project-info__title Client
	//- 							p.c-project-info__text school project

	//- 						div.g-xl-6
	//- 							p.c-project-info__title Year
	//- 							p.c-project-info__text 2017/2018

					
	//- 				a(href="#").e-btn.animation3 case study
	//- 					span.e-btn__icon

