section.l-section.l-section--contact-me.js-slide(data-content="contact-me" data-bg="blue")
	div.wrap.wrap--full
		div.c-contact
			div.c-contact__flex-end
				div.row.animation1
					div.g-s-12
						p.perex These are my selected works from the previous few years. Besides that, I have done a significant number of projects for my employers – Efabric, later madeo agency and also university projects. <br><br> I am open to new cooperation and interesting projects. Contact me. 

				div.c-contact__mail-block.animation2
					h3.c-contact__mail-title.small-title SAY ME HELLO
					a(href="mailto:gorazd@gorazd.sk").c-contact__mail.big-title hello@gorazd.design
						span.c-contact__mail-icon
					
				div.row
					div.g-s-4.g-xl-4.animation3
						h3.c-contact__mail-title.small-title OTHER WORK
						ul.c-contact__list
							li.c-contact__list-item
								a(href="#") Dribbble
							li.c-contact__list-item
								a(href="#") Behance

					div.g-s-4.g-xl-4.animation3
						h3.c-contact__mail-title.small-title SCHOOL PROJECTS
						ul.c-contact__list
							li.c-contact__list-item
								a(href="https://www.digitalnidesign.cz/add/student/ratulovsky-gorazd" target="_blank") 23design.cz

						h3.c-contact__mail-title.small-title FRONT-END PROJECTS
						ul.c-contact__list
							li.c-contact__list-item
								a(href="https://github.com/gorazd-ratulovsky/" target="_blank") Github

					div.g-s-4.g-xl-4.animation3
						h3.c-contact__mail-title.small-title MORE FROM MY LIFE
						ul.c-contact__list
							li.c-contact__list-item
								a(href="https://www.instagram.com/gor4zd/" target="_blank") Instagram
							li.c-contact__list-item
								a(href="https://www.linkedin.com/in/gorazdratulovsky/" target="_blank") LinkedIn
