section.l-sub-case-study
	div.c-case-study
		div.wrap
			div.c-case-study__header 
				h2.big-title metodické centrum pre múzeá v prírode
				div.c-project-info
					div.row
						div.g-s-12.g-m-3.g-xl-3
							p.c-project-info__title.small-title Zodpovednosť za
							p.c-project-info__text ui & ux website
						div.g-s-12.g-m-3.g-xl-3
							p.c-project-info__title.small-title Klient
							p.c-project-info__text školský projekt
						div.g-s-12.g-m-3.g-xl-3
							p.c-project-info__title.small-title Rok
							p.c-project-info__text 2017/2018
						div.g-s-12.g-m-3.g-xl-3
							p.c-project-info__title.small-title Nástroje
							p.c-project-info__text papier, sketch app, invision, framer js, coggle.it

		div.c-case-study__content
			section.c-case-study__section
				div.wrap
					div.row
						div.g-s-12.g-m-6.g-xl-6
							div.c-case-study__img.c-case-study__img--met01
								img(src="http://gorazd.sk/images/01b.gif")
						div.g-s-12.g-m-6.g-xl-6
							h3.c-case-study__title <span class="c-case-study__title-number">01</span> Start from <br>the bottom	
							p Myslim, že začiatkom každého designového procesu je potrebné prichystať si “dobrú pôdu pod nohami”. 

							p K tomu mi vždy pomôže interný brief, v ktorom si odpoviem na rôzne otázky ohladne projektu. 

							p Za rovnako dôležite považujem vytvoriť si harmonogram a postup prác a inak tomu nebolo ani pri tvorbe redesignu webu pre metodické centrum pre múzeam v prírode.						

		div.c-case-study__content.c-case-study__content--separator
			section.c-case-study__section
				div.wrap
					div.row
						div.g-s-12.g-m-6.g-xl-6
							h3.c-case-study__title <span class="c-case-study__title-number">02</span> Problémy <br>& definovanie <br>cielov
						div.g-s-12.g-m-6.g-xl-6
							p V briefe som si rozanalyzoval celý projekt. Tento proces mi pomohol nájsť problémy, ktorým aktuálny web čelil, a taktiež ciele v podobe riešení, ktoré by mali definované problémy vyriešiť. 

							p Pri tvorbe briefu som vytváral aj akýsi moodboard, podarených, ale aj menej podarených ukážok, ktoré mi mali slúžiť ako podklad k ďalšej práci.

							h4.c-case-study__subtitle Zlá informačná architektúra 

							p Hlavným problémom bolo štrukturovanie obsah. No práve obsah je pri weboch podobného typu kľúčovým. Začal som preto s tvorbou a reštrukturalizáciou architektúry obsahu. 

							h4.c-case-study__subtitle Zastaralý vizuál <br>& chýbajúca mobilná stránka 

							p Ďalší problém som videl v zastaralom vizuálnom prevedení, ktoré okrem toho, že nebolo príliš atraktívne, taktiež absentovalo aj responzívnu verziu webu.
		
		div.c-case-study__images
			div.img
				img(src="http://gorazd.sk/images/02.jpg")

		div.c-case-study__content
			section.c-case-study__section
				div.wrap
					div.row
						div.g-s-12.g-m-6.g-xl-6
							h3.c-case-study__title <span class="c-case-study__title-number">03</span> Wireframe <br>& prototypovanie
							p Už v prvotných fázach som pracoval na skiciach a tzv. low–fidelity wireframes, ktoré som následne po ujasnení informačnej štruktúry rozpracoval do detailnejších návrhov. 

							p Jedným z riešení, ku ktorým som dospel je rozdelenia obsahovej a navigačnej časti do dvoch blokov. Svoje zistenia som sa snažil overovať prototypovaním. Používal som nástroj inVision ale tiež som skúšal experimentovať s nástrojom FramerJS, kde môžete lepšie pracovať s animáciou. 

						div.g-s-12.g-m-6.g-xl-6
							div.c-project-gallery.c-project-gallery--left
								div.js-project-gallery
									div.c-project-gallery__item
										img(src="http://gorazd.sk/images/case-met/01.jpg")
									div.c-project-gallery__item
										img(src="http://gorazd.sk/images/case-met/02.jpg")
									div.c-project-gallery__item
										img(src="http://gorazd.sk/images/case-met/03.jpg")
									div.c-project-gallery__item
										img(src="http://gorazd.sk/images/case-met/04.jpg")
									div.c-project-gallery__item
										img(src="http://gorazd.sk/images/case-met/06.jpg")
									div.c-project-gallery__item
										img(src="http://gorazd.sk/images/case-met/07.jpg")
								p.small-title (gallery)

		div.c-case-study__content.c-case-study__content--separator
			section.c-case-study__section
				div.wrap
					div.row
						div.g-s-12.g-m-6.g-xl-6
							h3.c-case-study__title <span class="c-case-study__title-number">04</span> Interakčné <br>princípy	
						div.g-s-12.g-m-6.g-xl-6
							p Dokonalosť produktu a jeho designu dotvárajú detaily. Tieto možno zanedbateľné detaily však dotvárajú v uživateľovi pocit kontroly nad produktom a pocit, že vie čo sa pri danej interakcii deje respektíve stane. V oblasti digitálneho designu hovoríme o takzvaných mikro–interakciách.

							p Jednou z mojich priorít bolo zlepšiť použiteľnosť a orientáciu v navigácii webu.

							p Riešenie som postavil na rozdelení obsahovej a navigačnej časti webu a pomocou interakcie pomôcť odfiltrovať rušivosť a zamerať sa na podstatu daného bloku. 

							p Riešenie bolo testovane v rámci ateliernych konzultácií a bolo by vhodné ho odtestovať reálnymi uživateľmi. 					


		div.c-case-study__images
			div.img(style="max-width: 800px;")
				img(src="http://gorazd.sk/images/case-met/interaction.gif")
				p.small-title Framer prototype – <a href="https://framer.cloud/mqWDO" target="_blank">(link)</a>

		div.c-case-study__content
			section.c-case-study__section
				div.wrap
					div.row
						div.g-s-12.g-m-6.g-xl-6
							h3.c-case-study__title <span class="c-case-study__title-number">05</span> Responzívny <br>design	
							p Jedným z problémov, ktoré som zmieňoval na začiatku bola chýbajúca mobilná verzia webu. 

							p V dobe keď už približne každý 4 človek pristupuje na náš web z mobilného zariadenia, je potrebné myslieť aj na tento fakt a snažil som sa to zohladniť aj v mojom riešení.
						div.g-s-12.g-m-6.g-xl-6
							img(src="http://gorazd.sk/images/m01.gif" style="width: 100%; max-width: 300px; margin: auto; display: block;")
									



