section.l-sub-aboutme
	div.c-aboutme
		div.c-aboutme__left
			div.wrap
				div.c-aboutme__text
					p Už počas štúdia na obchodnej akadémie som naberal prvé skúsenosti ako content manager, kde som sa staral o plnenie obsahov na weboch, zároveň skúšal kódovanie a objavoval grafický design. Svoje poznatky z oblasti grafického designu som využil pri tvorbe vizuálneho štýlu pre novovznikajúci Stredoškolský bál, ktorý sa každoročne organizuje až do dnes.  

					p Po úspešnom ukončení stredoškolského štúdia viedli moje kroky do Bratislavy. Tu som získaval nové znalosti a najmä cenné skúsenosti na projektoch pre veľkých klientov ako front-end developer v agentúre Efabrica.

					p Rozhodol som sa však vrátiť späť k štúdiu a rozvíjať svoje povedomie o designe ďalej. V roku 2015 som sa stal študentom digitálneho designu na Univerzite Tomáša Bati v Zlíne. Moje očakávania ma nesklamali a obohatil som sa o chápanie princípov designu, typografie a najmä ich historického vývinu. 

					p Ďalším dôležitým momentom bola pre mňa práca front-end developera v agentúre madeo. Oceňovaná agentúra, ktorá má v oblasti webdesignu veľké meno, mi dala ďalšiu veľkú skúsenosť a posunula moje znalosti o krok ďalej. 
					p Nech už moje kroky povedú kamkoľvek, svoju energiu a zápal pre design chcem s určitosťou vložiť do svojho rozvoju osobnosti a schopností, a posúvať svoje hranice stále vyššie.

				div.c-aboutme__skills
					div.row
						div.g-s-12.g-xl-6
							h3.small-title Design skills
							ul.c-aboutme__skills-list
								li sketch app
								li adobe (photoshop, illustrator, indesign, ae)
								li prototyping (invision, after effect, framerjs – small experience)
								li atomic design
								li interaction design
								li information architecture

						div.g-s-12.g-xl-6
							h3.small-title FRONT–END DEV skills
							ul.c-aboutme__skills-list
								li html (pug)
								li css (sass, less)
								li javascript (jquery, es2015 – small experience)
								li BEM methodic
		div.c-aboutme__right
			div.c-aboutme__image