section.l-sub-case-study
	div.c-case-study
		div.wrap
			div.c-case-study__header 
				h2 metodické centrum pre múzeá v prírode
				div.c-project-info
					div.row
						div.g-xl-3
							p.c-project-info__title.small-title RESPONSIBLE FOR
							p.c-project-info__text ui & ux website
						div.g-xl-3
							p.c-project-info__title.small-title Client
							p.c-project-info__text school project
						div.g-xl-3
							p.c-project-info__title.small-title Year
							p.c-project-info__text 2017/2018
						div.g-xl-3
							p.c-project-info__title.small-title TOOLS
							p.c-project-info__text sketch, invision, framer js, coggle.it

		div.c-case-study__content
			section.c-case-study__section
				div.wrap
					div.row
						div.g-xl-6
						div.g-xl-6
							h3.c-case-study__title <span class="c-case-study__title-number">01</span> Start from the bottom							