section.l-sub-aboutme
	div.c-aboutme
		div.c-aboutme__left
			div.wrap
				div.c-aboutme__text
					p During my high school studies on Business Academy, I started to gain my first experiences as content manager, where my job was to place the content on webs. At the same time, I experienced the coding and discovered the graphic design. I was able to use my knowledge from graphic design whilst creating visual style for the emerging High School Prom, which is being organized every year since then. 

					p After successful high school graduation my further steps headed to Bratislava. It was the place where I gained new knowledge and valuable experiences from projects for the big clients as front-end developer in Efabrica agency. 

					p After a while, I decided to start my university studies and develop my further conscious about design. In 2015, I’ve become a student of digital design at the University of Tomas Bata in Zlín. My expectations were not disappointed, and I’ve enriched my understanding for design principles, typography and especially their historical process.  

					p Further important moment was my position as front-end developer in madeo agency. Valued agency, which has an outstanding position in webdesign gave me further significant experience and improved my knowledge ahead.

					p No matter, where my steps will head in the future, I would like to give my energy and drive for the design into my personal and experience development. Finally, upgrade my level of possibilities even higher. 

				div.c-aboutme__skills
					div.row
						div.g-s-12.g-xl-6
							h3.small-title Design skills
							ul.c-aboutme__skills-list
								li sketch app
								li adobe (photoshop, illustrator, indesign, ae)
								li prototyping (invision, after effect, framerjs – small experience)
								li atomic design
								li interaction design
								li information architecture

						div.g-s-12.g-xl-6
							h3.small-title FRONT–END DEV skills
							ul.c-aboutme__skills-list
								li html (pug)
								li css (sass, less)
								li javascript (jquery, es2015 – small experience)
								li BEM methodic
		div.c-aboutme__right
			div.c-aboutme__image