html
	head
		title Gorazd Ratulovsky – digital designer & front-end developer
		link(rel="stylesheet" href="https://webfonts.fontstand.com/WF-003967-50d7ef660a15a6a02aad988ada1b94b9.css" type="text/css")
		link(rel="stylesheet" type="text/css" href="styles/bundle.css")
		meta(charset="UTF-8")
		meta(name="description" content="Digitálny designer a kóder, s vášňou pre čistý a funkčný design.")
		meta(name="keywords" content="digital design, ui, ux, ui designer, front-end developer, digital designer, webdesign, webdizajn")
		meta(name="robots" content="all")
		meta(name="author" content="Gorazd Ratulovsky")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body.is-blue.is-home
		include sections/header-verticalNav.pug

		div#barba-wrapper
			div.barba-container(data-namespace="homepage")

				div.c-scroll-wrap.js-slider
					include sections/section-home.pug

					include sections/section-aboutMe.pug

					include sections/section-project.pug

					include sections/section-contactMe.pug
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/min/tiny-slider.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js")
		script(src="scripts/app.js")
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-16716214-17")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-16716214-17');


//- pri scrolle sa bude menit trieda na body ktora bude menit pozadie