html
	head
		title
		link(rel="stylesheet" href="https://webfonts.fontstand.com/WF-003967-50d7ef660a15a6a02aad988ada1b94b9.css" type="text/css")
		link(rel="stylesheet" type="text/css" href="styles/bundle.css")
	body.is-blue.is-home
		include sections/header-verticalNav.pug

		//- div.c-canvas.js-canvas
		//- 	p.js-test test
		div.c-scroll-wrap.js-slider
			include sections/section-home.pug

			include sections/section-aboutMe.pug

			include sections/section-project.pug

			include sections/section-contactMe.pug
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/min/tiny-slider.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js")
		script(src="scripts/app.js")


//- pri scrolle sa bude menit trieda na body ktora bude menit pozadie