html
	head
		title Gorazd Ratulovsky – digital designer & front-end developer
		link(rel="stylesheet" href="https://webfonts.fontstand.com/WF-003967-50d7ef660a15a6a02aad988ada1b94b9.css" type="text/css")
		link(rel="stylesheet" type="text/css" href="http://gorazd.sk/styles/bundle.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body.is-blue.is-home
		include sections/header-verticalNav-en.pug

		div#barba-wrapper
			div.barba-container(data-namespace="homepage")

				div.c-scroll-wrap.js-slider
					include sections/section-home.pug

					include sections/section-aboutMe-en.pug

					include sections/section-project-en.pug

					include sections/section-contactMe-en.pug
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/min/tiny-slider.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js")
		script(src="http://gorazd.sk/scripts/app.js")


//- pri scrolle sa bude menit trieda na body ktora bude menit pozadie