$wrap--offset: 0 ($offset--base * 2);
.wrap {
	margin: 0 auto;
	max-width: 1660px;
	width: 100%;
	padding: $wrap--offset;

	&--full {
		height: 100%;
	}

	@media screen and (min-width: $viewport--xxxl) {
		max-width: 2100px;
	}

	@media (min-width: $viewport--xl) and (max-width: $viewport--xxl) {
		padding: 0 90px;
	}
}

.row {
	display: flex;
	margin: 0 -15px;

	&--full {
		height: 100%;
	}
}

[class^="g-"] {
	padding: 0 15px;

	&.flex-end {
		align-self: flex-end;
	}
}

.g {
	&-xl-2 {
		width: 16.665%;
	}

	&-xl-3 {
		width: 25%;
	}

	&-xl-4 {
		width: 33.33%;
	}

	&-xl-5 {
		width: 41.66%;
	}

	&-xl-6 {
		width: 50%;
	}

	&-xl-8 {
		width: 66.66%;
	}

	&-xl-9 {
		width: 75%;
	}

	&-xl-10 {
		width: 83.325%;
	}

	&-xl-12 {
		width: 100%;
	}
}