$header--offset: $offset--base ($offset--base * 2);

$header__logo-blue--color: $color--blue-lighter;
$header__logo--color: $color--grey-darker;

$header__project--color: $color--grey-darker;

$header__lang-blue--color: $color--blue-lighter;
$header__lang--color: $color--grey-darker;

$header__lang-blue--color--active: white;
$header__lang--color--active: $color--blue;

$section--bottom-offset: $offset--base * 2;

body.is-subpage {
    .l-header {
        margin-left: 90px;
    }
    .l-header__lang {
        display: none;
    }
}

body.is-blue {
	.l-header {
		&__logo {
			color: $header__logo-blue--color;
		}

		&__lang {
			li {
				color: $header__lang-blue--color;

				&:after {
	    			content: '/';
	    			position: relative;
	    			display: inline-block;
	    			vertical-align: middle;
	    			color: $header__lang-blue--color;
	    			margin: 0 5px 0 10px;
	    		}

	    		&:hover {
	    			color: white;
	    		}

	    		&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}

        &__logo-symbol {
            svg path {
                fill: $header__logo-blue--color;
            }
        }
	}
}

.l-header {
	position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    margin: $header--offset;

    &__projects {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        display: none;
        font-size: 2.6rem;
        color: $header__project--color;

        &.is-active {
            display: block;
        }
    }

    &__logo {
    	float: left;
    	font-size: 4.7rem;
    	line-height: 1;
    	color: $header__logo--color;
        position: relative;
        transition: color 0.3s ease;
    }

    &__logo-symbol {
        position: relative;
        top: -13px;
        margin-left: 8px;
    }

    &__logo-text {
        display: inline-block;
    }

    &__lang {
    	float: right;
    	margin: auto;

    	li {
    		display: inline-block;
    		vertical-align: middle;
    		position: relative;
    		font-size: 2.6rem;
    		line-height: 1;
    		color: $header__lang--color;
            transition: color 0.3s ease;

    		&:after {
    			content: '/';
    			position: relative;
    			display: inline-block;
    			vertical-align: middle;
    			color: $header__lang--color;
    			margin: 0 5px 0 10px;
    		}

    		a {
    			color: inherit;
    			text-decoration: none;
    		}

    		&:last-child {
    			&:after {
    				display: none;
    			}
    		}

    		&:hover {
    			color: $header__lang--color--active;
    		}
    	}
    }
}

.l-section {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
    height: 100vh;
    //background-color: $color--light;
    //transform: translateY(0%);
    visibility: hidden;
    opacity: 0;
    //transition: visibility 0.4s ease, opacity 0.4s 0.4s ease;

    &.is-active {
        z-index:10;
    }

    &.is-visible, &.is-active {
        visibility: visible;
        opacity: 1;
    }
 
/*
    &.is-scrolling-down--next {
        //transform: translateY(-100%);
        animation-name: mymove;
        animation-duration: 0.4s; 
        animation-delay: 0s;  
        animation-timing-function: ease-in-out; 
    }
    */

    &--home {
        padding-bottom: $section--bottom-offset;
        //background-color: $color--blue;

        .big-title {
            font-size: 8.8rem;
            line-height: 9.8rem;
        }

        &.is-scrolling-down .big-title {
            opacity: 0;
            animation-name: fadeoutUP_bigtitle;
            animation-duration: 0.4s; 
            animation-delay: 0s;  
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out; 
        }

        &.is-scrolling-up--prev .big-title {
            opacity: 0;
            animation-name: fadeinDOWN_bigtitle;
            animation-duration: 0.4s; 
            animation-delay: 0.4s;  
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out; 
        }
    }

    &--about-me {
        padding-bottom: $section--bottom-offset - 5px;

        .perex {
            margin-bottom: 60px;
        }
    }

    &--projects {
        padding-bottom: $section--bottom-offset;
    }

    &--contact-me {
        padding-bottom: $section--bottom-offset;
        //background-color: $color--blue;
    }

    /* ANIMATION */
    &.is-scrolling-down .animation1 {
        //opacity: 0;
        animation-name: fadeoutUP;
        animation-duration: 0.4s; 
        animation-delay: 0s;  
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }

    &.is-scrolling-down .animation2 {
        //opacity: 0;
        animation-name: fadeoutUP;
        animation-duration: 0.4s; 
        animation-delay: 0.04s;  
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }

    &.is-scrolling-down .animation3 {
        //opacity: 0;
        animation-name: fadeoutUP;
        animation-duration: 0.4s; 
        animation-delay: 0.08s;  
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }



    &.is-scrolling-down--next .animation1 {
        opacity: 0;
        animation-name: fadeinUP;
        animation-duration: 0.4s; 
        animation-delay: 0.3s;  
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }

    &.is-scrolling-down--next .animation2 {
        opacity: 0;
        animation-name: fadeinUP;
        animation-duration: 0.4s; 
        animation-delay: 0.34s;  
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }

    &.is-scrolling-down--next .animation3 {
        opacity: 0;
        animation-name: fadeinUP;
        animation-duration: 0.4s; 
        animation-delay: 0.38s;  
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }



    &.is-scrolling-up .animation1 {
        //opacity: 0;
        animation-name: fadeoutDOWN;
        animation-duration: 0.4s; 
        animation-delay: 0.08s;  
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }

    &.is-scrolling-up .animation2 {
        //opacity: 0;
        animation-name: fadeoutDOWN;
        animation-duration: 0.4s; 
        animation-delay: 0.04s;  
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }

    &.is-scrolling-up .animation3 {
        //opacity: 0;
        animation-name: fadeoutDOWN;
        animation-duration: 0.4s; 
        animation-delay: 0s;  
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }

    &.is-scrolling-up--prev .animation1 {
        opacity: 0;
        animation-name: fadeinDOWN;
        animation-duration: 0.4s; 
        animation-delay: 0.38s;  
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }

    &.is-scrolling-up--prev .animation2 {
        opacity: 0;
        animation-name: fadeinDOWN;
        animation-duration: 0.4s; 
        animation-delay: 0.34s;  
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }

    &.is-scrolling-up--prev .animation3 {
        opacity: 0;
        animation-name: fadeinDOWN;
        animation-duration: 0.4s; 
        animation-delay: 0.3s;  
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }
}

@keyframes fadeoutUP_bigtitle {
    0% {transform: translateY(0%) skewY(0deg) scaleY(1); opacity: 1; }
    100% {transform: translateY(-200%) skewY(15deg) scaleY(4.6); opacity: 0; }
}
@keyframes fadeinDOWN_bigtitle {
    0% {transform: translateY(-200%) skewY(-15deg) scaleY(4.6); opacity: 0; }
    100% {transform: translateY(0%) skewY(0deg) scaleY(1); opacity: 1; }
}

@keyframes fadeoutUP {
    0% {transform: translateY(0%) skewY(0deg) scaleY(1); opacity: 1; }
    100% {transform: translateY(-100%) skewY(0deg) scaleY(1.3); opacity: 0; }
}

@keyframes fadeinUP {
    0% {transform: translateY(100%) skewY(0deg) scaleY(1.3); opacity: 0; }
    100% {transform: translateY(0%) skewY(0deg) scaleY(1); opacity: 1; }
}
@keyframes fadeoutDOWN {
    0% {transform: translateY(0%) skewY(0deg) scaleY(1); opacity: 1; }
    100% {transform: translateY(100%) skewY(0deg) scaleY(1.3); opacity: 0; }
}
@keyframes fadeinDOWN {
    0% {transform: translateY(-100%) skewY(0deg) scaleY(1.3); opacity: 0; }
    100% {transform: translateY(0%) skewY(0deg) scaleY(1); opacity: 1; }
}

