$header--offset: $offset--base ($offset--base * 2);

$header__logo-blue--color: $color--blue-lighter;
$header__logo--color: $color--grey-darker;

$header__lang-blue--color: $color--blue-lighter;
$header__lang--color: $color--grey-darker;

$header__lang-blue--color--active: white;
$header__lang--color--active: $color--blue;

$section--bottom-offset: $offset--base * 2;

body.is-blue {
	.l-header {
		&__logo {
			color: $header__logo-blue--color;
		}

		&__lang {
			li {
				color: $header__lang-blue--color;

				&:after {
	    			content: '/';
	    			position: relative;
	    			display: inline-block;
	    			vertical-align: middle;
	    			color: $header__lang-blue--color;
	    			margin: 0 5px 0 10px;
	    		}

	    		&:hover {
	    			color: white;
	    		}

	    		&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}

.l-header {
	position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    padding: $header--offset;

    &__logo {
    	float: left;
    	font-size: 4.7rem;
    	line-height: 1;
    	color: $header__logo--color;
        position: relative;
        transition: color 0.3s ease;
    }

    &__lang {
    	float: right;
    	margin: auto;

    	li {
    		display: inline-block;
    		vertical-align: middle;
    		position: relative;
    		font-size: 2.6rem;
    		line-height: 1;
    		color: $header__lang--color;
            transition: color 0.3s ease;

    		&:after {
    			content: '/';
    			position: relative;
    			display: inline-block;
    			vertical-align: middle;
    			color: $header__lang--color;
    			margin: 0 5px 0 10px;
    		}

    		a {
    			color: inherit;
    			text-decoration: none;
    		}

    		&:last-child {
    			&:after {
    				display: none;
    			}
    		}

    		&:hover {
    			color: $header__lang--color--active;
    		}
    	}
    }
}

.l-section {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	width: 100%;
    height: 100vh;
    background-color: $color--light;
    transform: translateY(0%);
    
    transition: transform 0.3s ease;

    &.is-visible {
        z-index:10;
        transform: translateY(-100%);
    }
 
    &.is-scrolling-down {
        transform: translateY(-200%);
    }
/*
    &.is-scrolling-down--next {
        //transform: translateY(-100%);
        animation-name: mymove;
        animation-duration: 0.4s; 
        animation-delay: 0s;  
        animation-timing-function: ease-in-out; 
    }
    */

    &--home {
        padding-bottom: $section--bottom-offset;
        background-color: $color--blue;
    }

    &--about-me {
        padding-bottom: $section--bottom-offset - 5px;
            &.is-active {
                transform: translateY(0%);
            }

        .perex {
            margin-bottom: 60px;
        }
    }

    &--projects {
        padding-bottom: $section--bottom-offset;
    }

    &--contact-me {
        padding-bottom: $section--bottom-offset;
        background-color: $color--blue;
    }
}

@keyframes mymove {
    0% {transform: translateY(100%) skewY(0deg) scaleY(1); }
    //50% {transform: translateY(50%) skewY(0deg) scaleY(1); }
    100% {transform: translateY(0%) skewY(0deg) scaleY(1); }
    //100% {transform: translateY(-110%) skewY(-6deg) scaleY(0.7); }
}

