/* color varaiables */
$color--blue: #262DDA;
$color--blue-lighter: #5C80FF;
$color--light: #F6F7F8;
$color--grey: #9BA0B4;
$color--grey-darker: #C5C8D4;

/* offset varaiables */
$offset--base: 30px;

$viewport--s: 425px;

$viewport--m: 768px;

$viewport--l: 1024px;

$viewport--xl: 1200px;

$viewport--xxl: 1660px;

$viewport--xxxl: 2220px;